*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @font-face {
    font-family:'SF Pro Display';
    font-style:normal;
    font-weight:100;
    src:local('☺︎'), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_ultralight.woff") format("woff"), url("http://www.apple.com/wss/fonts/SF-Pro-Display/v1/sf-pro-display_ultralight.ttf") format("truetype");
   
  }
}

nav {
  background-color: #161617CC;
  color: white;
}
 
.custom-header {
  font-size: 58px;
}
.watch{
  margin-top: 110px;
}

 .cont{
  margin-top: 60px;
 }
 .heading{
  margin-top: 100px;
 }

 .img-hover {
  height: 550px;
  width: 450px;
  transition: transform 0.5s, box-shadow 0.5s;
}

.img-hover:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
 
 